/*
    This CSS only applies in dev mode.
    It's here to simulate the global host style
 */

body {
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: #22272e;
    color: white;
    padding: 2rem;
}
